<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
    
<body>
    
<div class="container">
    <ul>
     <li><a href="#sec1">1</a></li>
     <li><a href="#sec2">2</a></li>
     <li><a href="#sec3">3</a></li>
     <li><a href="#sec4">4</a></li>
     <li><a href="#sec5">5</a></li>
     <li><a href="#sec6">6</a></li>
     </ul>
    
    <section id="sec1">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/1.jpg')}}" alt="car1">
        </h1>
    </section>
    <section id="sec2">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/2.jpg')}}" alt="car2">
        </h1>
    </section>
    <section id="sec3">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/3.jpg')}}" alt="car3">
        </h1>
    </section>
    <section id="sec4">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/4.jpg')}}" alt="Photo4">
        </h1>
    </section>
    <section id="sec5">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/5.jpg')}}" alt="car5">
        </h1>
    </section>
    <section id="sec6">
        <h1>
        <img style="height:800px;" src="{{url_for('static', filename='posts/6.jpg')}}" alt="Photo6">
        </h1>
    </section>
</div>
    
</body>
</html>